<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/transaction/add" method="post">
        <label>Item</label>
        <select name="item">
            <% for(let a= 0; a < barang.length; a++){ %>
            <option value="<%= barang[a].id %>"><%= barang[a].name %></option>
            <% } %>
        </select>
        <label>Quantity</label>
        <input type="number" name="Qty">
        <label>Price</label>
        <input type="number" name="price">
        <br>
        <label>Discount percentage</label>
        <input type="number" name="Discount" max="1" min="0">
        <label>Penerima</label>
        <select name="Penerima">
            <% for(let a = 0; a < penerima.length; a++){ %>
            <option value="<%= penerima[a].id %>"><%= penerima[a].name %> dari <%= penerima[a].company_recipient %></option>
            <% } %>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>