<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/transaction/add" method="post">
        <% for(let a = 0; a < barang.length; a++){ %>
        <input type="checkbox" name="purchaseItem" value="<%= barang[a].id %>">
        <label><%= barang[a].name %></label> =
        quantity orderan
        <input type="number" name="<%= barang[a].id %>" autocomplete="off">
        <br>
        <% } %>
        <br>
        <label>Penerima</label>
        <select name="Penerima">
            <% for(let a = 0; a < penerima.length; a++){ %>
            <option value="<%= penerima[a].id %>"><%= penerima[a].name %> dari <%= penerima[a].company_recipient %></option>
            <% } %>
        </select>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>